.faq-section{
    margin-block: 80px;
    margin-inline: 80px;
    
}


/* *********Responsive Design********** */

@media (max-width:768px) {

    .faq-section{
        margin-inline: 30px;
        margin-block: 20px;
       
    }
   
}